# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env
.env.*

# Database
*.db
*.sqlite3

# Uploads
uploads/

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/